.titleWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.inputError{
   border-color: red;
}
.error{
    color: red;
}
.activeFilter {
    background: deepskyblue;
}
.isDone{
    opacity: 0.5;
}